
* {
  box-sizing: border-box;
}
 
body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
  background-color: grey;
}
 
.flex1{
    display: flex;
    flex-direction: row;
    background-color: #f5f4f9;
    color: black;
    width: 100%;
    height: auto;
    padding: 20px;
    gap: 20px;
    text-align: center;
}
.header{
    text-align: center;
}
nav {
  background-color: #f5f4f9;
  padding: 5px;
  position:relative;
  top: 0;
}
 
nav ul {
 justify-content: right;
  display: flex;
  gap: 2rem;
  
  
}
 
nav li {
  list-style-type: none;
}
 
nav a {
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  color: rgb(0, 47, 255);
}
nav a:hover {
    font-weight: bold;
    font-size: 17px;
  }
 

.container{
    display: flex;
    justify-content: center;
}

.card{
    background:#fff;
    border-radius: 0px;
    box-shadow: 0 2px 5px #f70b0b;
    padding: 1em;
    display:inline-block;
    width: auto;
    display: flex;
    margin: 10px;
    flex-direction: column;
    flex-wrap: wrap;
}

.card-image{
    width: 50%;
    border-radius: 5px;
    margin-bottom: 15px;
    background-size: cover;
    background-repeat: no-repeat;
}

.card-content{
    padding: 0 20px;
    margin: 0 1em;
    width: 50%;
}

.card-title, .card-text{
    color: black;
}

@media screen and (max-width:600px){
    body{
        background:red;

    }
    .card{
        width:100%;
        display: block;
    }
    .card-image{
        width:100%;
    }
    .card-content{
        display:block;
    }
    .card-text{
        display: none;
    }
   
  }

  @media screen and (max-width: 500px) {
    nav ul {
      justify-content: center;
    }
}
.artikel{
    width: 20px;
    padding: 10px;
    list-style-type: none;
}